build
version
message
title
latest
prerelease
make_latest
src/bin/DSLKeyPad_App_Icons/.vs/
src/bin/DSLKeyPad_App_Icons/x64/
src/bin/DSLKeyPad_App_Icons/DSLKeyPad.*/x64
src/bin/*.exe
src/bin/*.dll
src/*.exe
src/*.dll
src/desktop.ini
src/User/
src/Mods/
src/Logs/
src/Data/Dumps/
src_backup
drafts/DSLKeyPad.exe
drafts/CSharp/DSLKeyPad/bin
drafts/CSharp/DSLKeyPad/publish
drafts/CSharp/DSLKeyPad/obj

testing/
*.tmp

*/~$*.docx
*/*Draft*.pdf
*.zip

LEGACY_*.ahk
desktop.ini
.VSCodeCounter