UtilityFiles/DSLKeyPad_App_Icons/.vs/
UtilityFiles/DSLKeyPad_App_Icons/x64/
__dev/DSLKeyPad_App_Icons/.vs/
__dev/DSLKeyPad_App_Icons/x64/
src/bin/DSLKeyPad_App_Icons/.vs/
src/bin/DSLKeyPad_App_Icons/x64/
src/bin/DSLKeyPad_App_Icons/DSLKeyPad.*/x64
testing/
src/DSLKeyPad.exe
*.tmp
DSLKeyPad_DevVersion.ahk
__dev/DSLKeyPad.exe
__dev/CSharp/DSLKeyPad/bin
__dev/CSharp/DSLKeyPad/publish
__dev/CSharp/DSLKeyPad/obj/Release