UtilityFiles/DSLKeyPad_App_Icons/.vs/
UtilityFiles/DSLKeyPad_App_Icons/x64/
__dev/DSLKeyPad_App_Icons/.vs/
__dev/DSLKeyPad_App_Icons/x64/
Testing/
*.tmp
DSLKeyPad_DevVersion.ahk
__dev/DSLKeyPad.exe
__dev/CSharp/DSLKeyPad/bin
__dev/CSharp/DSLKeyPad/publish
__dev/CSharp/DSLKeyPad/obj/Release